@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .menu-item {
        @apply flex select-none items-center w-full pl-7 pr-[30px] py-4 text-black cursor-pointer hover:bg-[#edeff1] transition-colors;
    }
    .content-center {
        @apply w-full mb-4 md:flex md:justify-center;
    }
    .content-block {
        @apply bg-[#f0f9fe] md:w-2/3 p-2 rounded-tr-lg rounded-br-lg block mb-4 border border-blue-400 border-l-8 border-l-blue-400;
    }
    .content-block h1,
    .content-block h2,
    .content-block h3,
    .content-block h4,
    .content-block h5 {
        @apply text-[#e34752] rounded-md my-0;
    }
    .content-break {
        @apply md:w-2/3 block;
    }
    .admin-bar-bg {
        background: linear-gradient(195deg, rgb(66, 66, 74), rgb(25, 25, 25));
    }
    .bg {
        background-image: linear-gradient(
            to right,
            hsla(214, 100%, 90%, 100%) 0%,
            hsla(214, 100%, 90%, 0%) 20%,
            hsla(214, 100%, 90%, 0%) 50%,
            hsla(214, 100%, 90%, 0%) 80%,
            hsla(214, 100%, 90%, 100%) 100%
        );
    }
    body {
        @apply overflow-hidden;
    }
    .sd {
        box-shadow: 4px 4px 3px #262b34;
    }
    do {
        color: #f90201;
    }
    xanhdam {
        color: #08255d;
    }
    xanhduong {
        color: #0400cf;
    }
    hongsam {
        color: #d3036d;
    }
}

@layer base {
    @font-face {
        font-family: UTM Swiss Condensed;
        font-weight: 400;
        src: url('./assets/fonts/UTM-Swiss-Condensed.ttf') format('ttf');
    }
    html {
        @apply font-UTM;
    }
    body h2 {
        @apply text-4xl;
    }
    body h3 {
        @apply text-xl;
    }
    body h4 {
        @apply text-lg;
    }
    body h5 {
        @apply text-sm;
    }
}

html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}
